# vim: sw=2 sts=2 ts=2 sw et
{{ path }} {
  {% for item in data %}
  {{ item }}
  {%- endfor %}
  {% if postrotate -%}
  sharedscripts
  postrotate
      {%- for line in postrotate  %}
      {{ line }}
      {%- endfor %}
  endscript
  {%- endif %}
}
